@media (min-width: 640px) {
    nav.topnav {
        display: flex !important;
        justify-content: flex-end;
        flex-direction: row;
        max-width: 400px;

    }

    nav.topnav a {
        flex: 1 !important;
    }

    .icon {
        display: none;
    }

    .main-header-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .header-content {
        justify-content: space-between;
    }

    main {
        max-width: 1200px;
        margin: 20px auto;
    }
}